.btn-icon {
    width: 64px;
    height: 64px;
    background: #fff;
    border: none;
    border-radius: 6px;
    margin: 10px;
    cursor: pointer;
}

/* .nav-icon.selected .btn-icon {
    background: #ff0101;
    border: #ff0101 solid 5px;
} */
