.btn-icon {
    /* width: 64px;
    height: 64px; */
    width: 4rem;
    height: 4rem;

    background: #fff;
    border: none;
    border-radius: 6px;
    margin: 0.625rem;
    cursor: pointer;
}

/* .nav-icon.selected .btn-icon {
    background: #ff0101;
    border: #ff0101 solid 5px;
} */
