.main-userPage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: 90vh;
    margin: 0 0 0 7.3rem;
    padding: 4.2% 6% 0 7.6%;
}

.userPage-heading {
    margin-bottom: 4.5rem;
    width: 100%;
}

.userPage-heading h1 {
    font-size: 3rem;
    color: #000;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.userPage-heading span {
    color: #ff0c05;
}

.userPage-heading p {
    font-size: 1.1rem;
    font-weight: 400;
}

.userPage-informations {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 71%;
}

.userPage-graphs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 74%;
    height: 100%;
}

.keys-data-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    height: 100%;
}

.day-activity {
    width: 100%;
    height: 53%;
    margin: 0;
    background: #fbfbfb;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 0.3125rem;
}

.trio-charts {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 43%;
}

.line-chart,
.radar-chart,
.radial-bar-chart,
.bar-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3125rem;
}

.bar-chart {
    width: 100%;
    height: 100%;
}

.line-chart,
.radar-chart,
.radial-bar-chart {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    width: 31%;
    height: 100%;
    margin: 0;
}

.line-chart {
    background: #ff0000;
}

.radar-chart {
    background: #282d30;
}

.radial-bar-chart {
    background: #fbfbfb;
}

.keys-data-card {
    display: flex;
    align-items: center;
    height: 20.5%;
    margin: 0;
    background: #fbfbfb;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 0.31rem;
}

.key-data-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.75rem;
    height: 3.75rem;
    margin: 2rem 1.5rem 2rem 2rem;
    border-radius: 0.375rem;
    opacity: 0.7;
}

.key-data-value {
    display: flex;
    flex-direction: column;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.calorie-count {
    color: #282d30;
    font-size: 1.25rem;
    font-weight: 700;
}

.unit-measurement {
    color: #74798c;
    font-size: 0.875rem;
    font-weight: 500;
}

@media only screen and (max-width: 1299px) {
    .main-userPage {
        padding: 1% 0 0 1%;
    }

    .userPage-heading {
        padding: 1rem;
    }

    .userPage-heading h1 {
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    .userPage-heading p {
        font-size: 1rem;
    }

    .userPage-informations {
        position: absolute;
        bottom: 7vh;
        width: 95%;
    }

    .bar-chart {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .line-chart,
    .radar-chart,
    .radial-bar-chart {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0;
    }

    .keys-data-card {
        height: 21%;
        margin: 0;
    }

    .key-data-icon {
        margin: 1rem;
    }

    .calorie-count {
        font-size: 0.875rem;
    }

    .unit-measurement {
        font-size: 0.75rem;
    }
}
